@model IEnumerable<ECommerceProject.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/Customer/Home/homeIndex.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("CategoryList")
        @foreach (var item in Model)
        {
        <div class="col-md-3">
            <div class="card" id="ProductsCard" style="margin-bottom: 20px; background-color: #dcdbdb;">
                <img src="@item.Image" class="card-img-top" alt="...">
                <div class="card-header">
                    <span style="color:#353535;">@item.Title</span>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" id="DetailButton">Detay</a>
                    <i class="bi bi-search"></i>
                    <label style="color:#353535;"><b>@item.Price.ToString("0.00")₺</b></label>
                </div>
            </div>
        </div>
        }
    </div>
</div>
