@page
@model Disable2faModel
@{
    ViewData["Title"] = "İki Faktörlü Kimlik Doğrulamayı (2FA) Devre Dışı Bırakın";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<head>
    <link href="~/css/Identity/Account/Manage/Disable2fa.css" rel="stylesheet" type="text/css" />
</head>

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Bu eylem yalnızca 2FA'yı devre dışı bırakır.</strong>
    </p>
    <p>
        2FA'yı devre dışı bırakmak, kimlik doğrulama uygulamalarında kullanılan anahtarları değiştirmez.Bir kimlik doğrulama uygulamasında kullanılan anahtarı değiştirmek isterseniz,
        <a asp-page="./ResetAuthenticator">kimlik doğrulayıcı anahtarlarınızı</a> sıfırlamanız gerekir.
</div>

<div>
    <form method="post" class="form-group">
        <button id="Login">2FA'yı Devre Dışı Bırak</button>
    </form>
</div>
