#CategoryNameText {
    color: #333232;
    font-weight: bold;
}

#CategoryNameInput {
    width: 300px;
    margin-top: 10px;
    box-shadow: 2px 2px;
    padding-left: 35px;
    color: black;
}

.bi-tags-fill {
    color: #333232;
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
    margin-top: -34px;
}

#EditCategory {
    width: 200px;
    height: 34px;
    background-color: #0026ff;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 45px;
    padding-left: 16px;
    padding-right: 0px;
    border: 0px;
}

#EditCategory:hover{
    background-color: black;
    color: white;
}

.bi-arrow-repeat {
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    margin-left: 60px;
    margin-top: 6px;
}

#BackToCategoryList:link, #BackToCategoryList:visited{
    display: inline-block;
    background-color: #927d07;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 40px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}

#BackToCategoryList:hover, #BackToCategoryList:active{
    background-color: black;
    color: white;
}

.bi-reply-fill {
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    margin-left: 53px;
    margin-top: 5px;
}