#AdInput, #SoyadInput, #EmailInput, #TelefonInput, #SehirInput, #SemtInput, #PostaKoduInput, #AdresInput, #SifreInput, #SifreTekrarInput {
    margin-top: 10px;
    box-shadow: 2px 2px;
    color: black;
}

h4 {
    color: #786a27;
}

#KayitOl{
    color: white;
    margin-right: 5px;
}

#FacebookButton {
    border: 0;
    position: fixed;
    margin-left: 0px;
    margin-top: -30px;
    background-color: #dcdbdb;
}

#GoogleButton {
    border: 0;
    position: fixed;
    margin-left: 50px;
    margin-top: -30px;
    background-color: #dcdbdb;
}

.bi-facebook {
    color: #3a57ff;
    font-size: 25px;
}

.bi-google {
    color: #ff0000;
    font-size: 25px;
}

#SubmitButton {
    background-color: #786a27;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
}

#SubmitButton:hover{
    background-color: black;
    color: white;
}

