#DeleteData {
    background-color: #786a27;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 12px;
}

#DeleteData:hover {
    background-color: black;
    color: white;
}

#Input {
    width: 200px;
    margin-top: 5px;
}

.alert {
    width: 630px;
    text-align: center;
    height: 50px;
    margin-top: 15px;
}