@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="col-md-4">
</div>
<center>
    <div class="col-md-4">
        <span style="font-weight:bold; padding: 5px; padding-right: 10px; padding-left: 10px; background-color: black; color: white; border-radius: 50px;">@ViewData["Title"]</span>
        <br />
        <br />
        <span style="font-weight:bold; padding: 5px; padding-right: 10px; padding-left: 10px; background-color: black; color: white; border-radius: 50px;">Bu Kaynağa Erişiminiz Yok</span>
    </div>
</center>
<div class="col-md-4">
</div>
