@model ECommerceProject.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/deleteCategory.css" rel="stylesheet" type="text/css" />
</head>

<p id="Text">Bu kategoriyi silmek istediğinizden emin misiniz?</p>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            <span id="CategoryNameText">Kategori Adı</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kategoriyi Sil" id="DeleteCategory" />
        <i class="bi bi-trash"></i>
        <a asp-action="Index" id="BackToCategoryList">Kategori Listesine Dön</a>
        <i class="bi bi-reply-fill"></i>
    </form>
</div>
