@model IEnumerable<ECommerceProject.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/categories.css" rel="stylesheet" type="text/css" />
</head>

<div class="container">
    <p>
        <a asp-action="Create" id="AddCategory">Kategori Ekle</a>
    </p>
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr>
                <th>
                    <span id="CategoryNameTitle"><i class="bi bi-tags-fill" style="color:#353434;"></i> Kategori Adı</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span id="CategoryNameText">@Html.DisplayFor(modelItem => item.Name)</span>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" id="EditLink"><i class="bi bi-pencil-square"></i> Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" id="DeleteLink"><i class="bi bi-trash"></i> Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}