#Text {
    color: black;
    font-weight: bold;
}

#UserEmail {
    color: #333232;
    font-weight: bold;
}

#DeleteUser {
    width: 170px;
    height: 34px;
    background-color: #786a27;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 15px;
    border-radius: 50px;
    border: 0px;
}

#DeleteUser:hover{
    background-color: black;
    color: white;
}

.bi-trash {
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    margin-left: 15px;
    margin-top: 6px;
}

#BackToUserList:link, #BackToUserList:visited {
    display: inline-block;
    background-color: #353535;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}

#BackToUserList:hover, #BackToUserList:active {
    background-color: black;
    color: white;
}

.bi-reply-fill {
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}