#Text {
    color: black;
    font-weight: bold;
}

#DeleteProduct {
    width: 170px;
    height: 34px;
    background-color: #b57e1c;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 15px;
    border-radius: 50px;
    border: 0px;
}

#DeleteProduct:hover {
    background-color: black;
    color: white;
}

.bi-trash {
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    margin-left: -155px;
    margin-top: 6px;
}

#BackToProductList:link, #BackToProductList:visited {
    display: inline-block;
    background-color: #3f0a8d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}

#BackToProductList:hover, #BackToProductList:active {
    background-color: black;
    color: white;
}

.bi-reply-fill {
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    margin-left: -175px;
    margin-top: 5px;
}