#ProductTitleInput {
    box-shadow: 2px 2px;  
    color: black;
}

#ProductDescriptionInput {
    box-shadow: 2px 2px;
    color: black;
}

#ProductPriceInput {
    box-shadow: 2px 2px;
    color: black;
}

#ProductImageInput {
    box-shadow: 2px 2px;
}

#ProductCategorySelect {
    box-shadow: 2px 2px;
}

#ProductTitleText {
    color: #333232;
    font-weight: bold;
    float: left;
}

#ProductDescriptionText {
    color: #333232;
    font-weight: bold;
    float: left;
}

#ProductPriceText {
    color: #333232;
    font-weight: bold;
    float: left;
}

#ProductImageText {
    color: #333232;
    font-weight: bold;
    float: left;
}

#ProductHomeText {
    color: #333232;
    font-weight: bold;
}

#ProductStockText {
    color: #333232;
    font-weight: bold;
}

#ProductCategoryText {
    color: #333232;
    font-weight: bold;
    float: left;
}

#BackToProductList:link, #BackToCategoryList:visited {
    display: inline-block;
    background-color: #353535;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 10px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}

#BackToProductList:hover, #BackToCategoryList:active {
    background-color: black;
    color: white;
}

.bi-reply-fill {
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    margin-left: 10px;
    margin-top: 13px;
}

#AddNewProduct {
    width: 160px;
    height: 34px;
    background-color: #786a27;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    padding-right: 0px;
    padding-left: 7px;
    border: 0px;
}

    #AddNewProduct:hover {
        background-color: black;
        color: white;
    }

.bi-plus {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-left: 6px;
    margin-top: 1px;
}
